.container {
    display: flex;
    justify-content: space-between;
    margin: 100px;

}


.box {
    background-color: green;

}

.left {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 20px;
}

.große {
    background-color: green;

}

.right {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 20px;


}