.container {
    background-color: rgb(90, 90, 255);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    position: absolute;
    height: 400px;
    width: 400px;
    top: 40px;
    left: 40px;
    justify-content: center;
}

.box1 {
    background-color: black;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
}

.box2 {
    background-color: rgb(106, 194, 106);
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 0;
    right: 0;
}

.container2 {
    
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    height: 130px;
   
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 500px;
    margin-left: 40px;
}

.box {
    background-color: green;
    width: 70px;
    height: 70px;
    
}