.container {
    background-color: rgb(0, 191, 255);
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
   
}
.box {
background-color: black;
height: 30px;
width: 30px;
}

.paar{
    display: flex;
    gap: 4px;
}

.item1 {
    background-color: green;
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.item2 {
    background-color: rgb(255, 0, 212);
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 200px;
}

